.header {
   background-color: #000022;
   color: var(--textColor-seconary);
   font-weight: 200;
   width: 100vw;
   height: 70px;
   display: flex;
   align-items: center;
   justify-content: center;

   nav {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
         text-decoration: none;
         color: var(--textColor-seconary)
      }
   }

   ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      height: 100%;

      .activeLink {
         background-color: var(--textColor-seconary);
         color: var(--textColor-primary);
      }

      li {
         font-size: 22px;
         display: flex;
         align-items: center;
         height: 100%;
         padding: 0 20px;
         transition: 0.2s all ease-in;
         
         &:hover {
            background-color: var(--textColor-seconary);
            color: var(--textColor-primary);
            cursor: pointer;
         }
      }
   }
}